<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/style_home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="lo">
            <span>Logo</span>
        </div>
        <div class="nav-bar-toggle" aria-controls="cs" aria-expanded="false">
            <i class="bi bi-chevron-right" id="icon-btn" name="right-arrow"></i>
            <i class="bi bi-chevron-left" id="icon-btn" name="left-arrow"></i>
        </div>
        <nav class="cs" id="cs" data-visible="false">
            <ul>
                <li><a href="#">
                    <i class="bi bi-house"></i>
                    <span>Home</span> 
                </a></li>
                <li><a href="./Dashboard.html">
                    <i class="bi bi-grid-1x2"></i>
                    <span>Dashboard</span> 
                </a></li>
                <li><a href="./template.html">
                    <i class="bi bi-person"></i>
                    <span>Template</span>
                </a></li>
                <li><a href="#">
                    <i class="bi bi-gear"></i>
                    <span>Settings</span> 
                </a></li>
            </ul>
        </nav>
    </header>
    <section class="slide">
            <div class="title">
                <h1>Create Your Own Portfolio</h1>
                <button class="btn" type="button">Create</button>
            </div>
        </div>
    </section>
    <section class="collab">
        <h1>Link Your Portfolio with :</h1>

        <div class="card-body">
            <div class="card1">
                <img src="../images/LinkedIn_logo_initials.png.webp" alt="">
            </div>
            <div class="card1">
                <img src="../images/LinkedIn_logo_initials.png.webp" alt="">
            </div>
            <div class="card1">
                <img src="../images/LinkedIn_logo_initials.png.webp" alt="">
            </div>
        </div>

    </section>

    <footer class="footer">
        <h1>&copy;Copywrite 2023</h1>
    </footer>


    <script src="../Scripts/landing.js"></script>
    
</body>
</html>